<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> {% if page.title %} {{ page.title }} | {% endif %} Gewerbehof Hennigsdorf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="GBE Interessengemeinschaft GbR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="62pjTbsIyqTLEqm7qZVThdB8nATBdOuTYMl7-5BXmWM" /> 
    <!-- Styles -->
    <link href="{{ page.root }}assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ page.root }}assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ page.root }}assets/css/theme-light.css" rel="stylesheet" media="screen" id="skin">
    <link href="{{ page.root }}assets/css/theme-alizarin.css" rel="stylesheet" media="screen" id="swatches">
    <link href="{{ page.root }}assets/css/gbe.css" rel="stylesheet" media="screen" id="swatches">
    <!-- Lato Google Font - For Theme -->        
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <!--[if IE 7]><link rel="stylesheet" href="assets/css/font-awesome-ie7.css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ page.root }}assets/js/html5shiv.js"></script>
      <script src="{{ page.root }}assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- fav icons -->
    <link rel="shortcut icon" href="{{ page.root }}assets/img/favicon.ico">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33725062-1']);
      _gaq.push(['_setDomainName', 'pension-hennigsdorf.de']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_gat._anonymizeIp']);
      _gaq.push(['_anonymizeIp']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <header id="logo">
        <div class="hidden-xs col-md-12">
          <a href="{% if page.root %} {{ page.root }} {% else %} # {% endif %}" title="Gewerbehof Hennigdorf">
            <img src="{{ page.root }}assets/img/logo.png" alt="Gewerbehof Hennigdorf" width="621" height="140" />
          </a>
        </div><!--/12-->
      </header>

      {{ content }}

      <footer>
        <div class="col-md-12 col-sm-12">
          <strong>Email:</strong> <a href="mailto:info@pension-hennigsdorf.de" title="Kontaktieren Sie uns: info@pension-hennigsdorf.de">info@pension-hennigsdorf.de</a> | <a href="impressum" title="Impressum">Impressum</a><br />
          &copy; GBE Interessengemeinschaft GbR 2015
        </div><!--/12-->
      </footer>
      </div><!--/row-->
    </div><!--/container-->

    <script src="{{ page.root }}assets/js/jquery.js"></script>
    <script src="{{ page.root }}assets/js/bootstrap.min.js"></script>
    <script src="{{ page.root }}assets/js/jquery.placeholder.js"></script>
    <script type="text/javascript">$(function(){$('input, textarea').placeholder();});</script>
  </body>
</html>
